.cv-header-container {
  max-width: 100%;
}
.cv-header-bar {
  bottom: -16px;
}
.cv-page-container {
  max-width: 100%;
}
.cv-avatar {
  width: 100%;
  display: block;
}
.cv-lang {
  height: 24px;
}
.cv-w-100 {
  width: 100% !important;
}
.cv-w-95 {
  width: 95% !important;
}
.cv-w-90 {
  width: 90% !important;
}

.cv-left-column {
  position: sticky;
  top: 80px;
  align-self: flex-start;
}
